
<nav class="navbar  navbar-transparent  navbar-absolute bg-primary fixed-top" style="background-color: black">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle" style="color: #ff1744">
                <button type="button" class="navbar-toggler" style="mix-blend-mode: difference;" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" >{{data.displaynow}}</a>
        </div>
    </div>
</nav>
