<div style="background-color: black;padding-top: 60px"></div>

<div class="main-content" style="margin-top:50px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="background-color: #27293d;">
        <div class="card-header">
          <h1 class="title" style="color: #e2438d;font-family: 'Raleway', sans-serif;" align="center">
          <img src="assets/img/codeliver.png" style="width: 200px" alt=""> CodeLiver</h1>
        </div>
        <div class="card-body">
          <div  align="center">
            <p align="center" style="color:white; font-family: 'Raleway', sans-serif;width: 70%; font-size: 16px">CodeLiver is a web application that provides various tools and infrastructure aimed to support coders in real-time collaboration.</p>
            <a class="btn btn-block" href="https://github.com/prashant-raghu/code_liver2.0" target="_blank" style="width: 200px;font-size: 15px; background-color: black;color: white" >
            <div style="display: flex;flex-wrap: nowrap;flex-direction: row;justify-content: center;">
              <div><i class="fa fa-star" style="color: white"></i>
              <!--   <img style="transform: scale(1.3);" src="assets/img/github.png" alt="Github"> -->
              </div>
              <div >
                <b><span style="color: #e4502e">&nbsp;Us</span> on Github</b>
             </div>
            </div>
             </a>
          </div>
        </div>
      </div>
    </div>
  </div>S
</div>
