<div id="top" style="background-color: black;padding-top: 100px; position: relative;z-index: 1000">
	<div style="display: flex;flex-direction: row;padding-bottom:20px;  flex-wrap: wrap;justify-content: space-around;color: white">
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('0')" >SuperMario</button></div>
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('1')">Contra</button></div>
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('2')">BattleCity</button></div>
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('3')">BomberMan</button></div>
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('4')">DoubleDragon</button></div>
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('5')">Spiderman</button></div>
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('6')">RoadRash</button></div>
		<div><button class="btn btn-primery" style="background-color: #9d3f91;border-width: 1px;border-color: #9d3f91;border-radius: 3px; color: white" (click)="switch('7')">LodeRunner</button></div>
	</div>
</div>
<div style="width: 100%;height: 80vh; margin-top: -30px;position: relative;z-index: 10;overflow-y: scroll;">
	 <iframe [src]="text | safe" width="100%" height="100%" style="width: 100%; height: 100%;" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
</div>

<!--
	<iframe src="//www.retrogames.cc/embed/22234-double-dragon-ii-the-revenge-usa.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
https://www.retrogames.cc/nes-games/spider-man-return-of-the-sinister-six-europe.html
https://www.retrogames.cc/nes-games/super-mario-bros-japan-usa.html
https://www.retrogames.cc/nes-games/battle-city-japan.html
https://www.retrogames.cc/nes-games/double-dragon-europe.html
https://www.retrogames.cc/nes-games/bomberman-usa.html
https://www.retrogames.cc/nes-games/contra-usa.html
https://www.retrogames.cc/gameboycolor-games/road-rash-usa.html
-->
