<div style="background-color: black;padding-top: 60px"></div>





<div  style="padding-top: 0px;background-color: black; overflow-x: hidden;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title" style="color: #6e3670">Rooms</h5>
        </div>
        <div class="card-body all-icons" style="color: #6e3670">
          <div class="row">
        <ng-container *ngFor="let room of rooms">
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6" (click)="redir(room.roomid)" >
              <div class="font-icon-detail">
                <img src="assets/img/codeliver.png" width="100%" height="100%" alt="">
                <p style="color: #6e3670; z-index: 100" >{{room.value.roomNumber}}</p>
              </div>
            </div>
          </ng-container>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
